@media screen and (max-width: 1040px) {

    .banniere_b{
        display: grid;
        margin: 2rem auto;
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        height: 90vh;
        grid-gap: 2rem; 
    }
    .div_grid_text{
        display: block;
    }
    .show{
        display: block;
        visibility: visible;
        opacity: 1;
        font-size: 1.5rem;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 20px 25px -5px, rgba(255, 255, 255, 0.04) 0px 10px 10px -5px;  transition: all ease-in-out .3s;
    }
    
    footer{
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        height: auto;  
      }
    footer>ul{
        margin-top: 1rem;

        display: block;
        
    }
    footer>ul>li{
        padding: 1rem;
    }

.banniere_a{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 80vh;
    background-image:url(https://i.gaw.to/content/photos/30/97/309751_7_choses_a_savoir_sur_la_reparation_de_votre_vehicule_apres_un_accident.jpg?460x287);
    background-size: cover;
    background-attachment: unset;
}
header>h1>img{
    width: 7rem;
    height:7rem;
    display: block;
    margin: 0 auto;
}

.menu_shown{
    z-index: 10;
    width: 100%;
    height: 100vh;
    transition: all .7s;
left:0;
right: 0;
position: fixed;
top: 0;
bottom: 0;
background-color: rgb(114, 111, 111);
}
.menu-icon {
    position: fixed;
    z-index: 20;
    top: 1.5rem;
    left: 1rem;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

.logo_menu>li{
    text-align: center;
    margin-bottom: 2rem;
    margin-left: -1rem;
    cursor: pointer;
    transition: all ease-in-out .3s;

}
}
